<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/static/stylesheets/style.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="testing-ground">
      <button id="test">TEST get data from DB</button>
      <hr />
      <input id="test-input" type="text" />
      <button id="add-data-test">TEST Insert data on the DB</button>
    </div>

    <div class="head">
      <h1>My Movie list</h1>
      <div class="searchbox">
        <input id="searchInput" type="text" />
        <button class="btn-search">SEARCH</button>
        <hr />
        <a href="/saved_movies">
          <button id="load-movies">LOAD MOVIES FROM MY DB</button>
        </a>
        <hr />
      </div>
    </div>
    <div class="main-cont" id="movies"> </div>

    <script src="static/scripts/testIndex.js"></script>
    <script src="static/scripts/movies.js"></script>
  </body>
</html>
