<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/static/stylesheets/style.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="head">
      <h1>My Movies</h1>
    </div>
    <hr />
    <div class="main-cont" id="saved"> </div>

    <!-- <script src="static/scripts/movies.js"></script> -->
    <script src="static/scripts/saved_movies.js"></script>
  </body>
</html>
