
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
header{
  color: azure;
}
container{
  height: 100vh;
  display: flex;
  flex-direction: column;
justify-content: flex-end;
align-items: center;
overflow: hidden;
}


.moon{
  position: relative; 
  left: -50%;
  bottom: 0px;
}
.moon > img{
  width: 45vh;
  filter: drop-shadow(0 0 4.75rem rgb(73, 125, 236)) blur(1px);
}
#front {
position: absolute;
 left: 50%;
 bottom: 40%
}
#middle{
  position: absolute;
  left: 50%;
  bottom: 0%
}

#back{
  /* position: absolute; */
  /* background-image: url("/images/galaxy2.jpg"); */
  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-size: 150% 150%; */
  height: 150%;
  width: 150%;
}
.galaxy img{
  width: 100%;
}
.trees{
  display: flex;
  position: relative; 
  left: -50%;

}
.trees > img{
  width: 20vh;
  margin: 0px -30px 0px -30px;
  filter:blur(1.5px);
}
.pines{
/* height: 120%; */
position: relative;
bottom:20px
}

.erable{
    position: relative;
    bottom:-50px;
      }
